:root {
  --cor-primaria: #d96f32;
  --fundo-claro: #f4f4f4;
  --fundo-escuro: #202020;
  --texto-escuro: #202020;
  --texto-claro: #f4f4f4;
}

.searchMain{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchContainer{
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center ;
    align-items: center;
    width: auto;
    height: auto;
    padding: 20px 80px;
    border-radius: 45px;
}

.imputSearch{
    width: 800px;
    padding: 10px;
    border: 1px solid var(--fundo-claro);
    border-radius: 25px 0px 0px 25px;
}

.divBtn{
    border: 1px solid var(--fundo-claro);
    border-radius: 0px 25px 25px 0px;
}

.btnSearch{
    
    padding: 10px 15px ;
    border: none;
    border-radius: 0px 25px 25px 0px;
    background-color: var(--cor-primaria);
    color: var(--texto-claro);
    font-weight: bolder;
}



