
/*Cores fixas*/
:root {
  --cor-primaria: #d96f32;
  --fundo-claro: #f4f4f4;
  --fundo-escuro: #202020;
  --texto-escuro: #202020;
  --texto-claro: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa no MÍNIMO a tela inteira */
  width: 100%;
}

.body { 
  display: flex;
  flex: 1;
  height: auto; 
  background-color: black;
}


.content {
  flex: 1;
  padding: 20px;
  background: var(--fundo-claro);
  background-color: #f5f5f5;
  overflow-y: auto;
}