
.searchMain{
    display: flex;
    justify-content: start;
    align-items: center;
}

.searchContainer{
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center ;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--cor-primaria);
    

}

.div{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imputSearch{
    width: 400px;
    padding: 10px;
    border: 1px solid var(--fundo-claro);
    border-radius: 25px;
    cursor: pointer;
    
}

.imputSearch:hover{
    background-color: rgb(243, 243, 243);
}

.divBtn{
    border: 1px solid var(--fundo-claro);
    border-radius: 0px 10px 10px 0px;
    
}

.btnSearch{
    padding: 10px 15px ;
    border: none;
    border-radius: 0px 10px 10px 0px;
    background-color: var(--cor-primaria);
    color: var(--texto-claro);
    font-weight: bolder;
}


/*
############ TCCList ################
*/

div > h2 {
    margin: 40px 0px 40px 100px;
}

.recentTcc{
    display: grid;
    grid-template-columns: repeat(3, 2fr); 
    align-items: start; 
    gap: 30px;
    margin: 0px auto;
    width: 100%;
}


/*######## Cards tcc ########*/
.itemTcc{
    display: flex;
    flex-direction:row; 
    justify-content: start;
    background-color: white;
    padding: 10pX;
    border: 2px solid var(--cor-primaria);
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 10px;
    gap: 10px;
}


.cardTccInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.iconContainer{
    background-color: rgba(255, 191, 71, 0.685);
    width: 75px;
    height: 85px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.nameActions{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.divBtnActions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.iconAction1{
    background-color: rgba(255, 145, 0, 0.562);
    border-radius: 5px;
    cursor: pointer;
}
.iconAction2{
    background-color: rgba(255, 57, 57, 0.562);
    border-radius: 5px;
    cursor: pointer;
}


.btnTccDet{
    border: none;
    background-color: var(--cor-primaria);
    color: var(--texto-claro);
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    
    
}

.infoCard{
    font-size: 13px;
    margin-top: -5px;
}


