
.searchMain{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchContainer{
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center ;
    align-items: center;
    width: auto;
    height: auto;
    padding: 20px 80px;
    border-radius: 45px;
    margin-bottom: 20px;

}

.imputSearch{
    width: 800px;
    padding: 10px;
    border: 1px solid var(--fundo-claro);
    border-radius: 25px ;
    cursor: pointer;
    
}

.imputSearch:hover{
    border: 1px solid gray;
    background-color: rgb(243, 243, 243);
}

.divBtn{
    border: 1px solid var(--fundo-claro);
    border-radius: 0px 25px 25px 0px;
    
}

.btnSearch{
    padding: 10px 15px ;
    border: none;
    border-radius: 0px 25px 25px 0px;
    background-color: var(--cor-primaria);
    color: var(--texto-claro);
    font-weight: bolder;
}


/*
############ TCCList ################
*/

div > h2 {
    margin: 40px 0px 40px 100px;
}

.recentTcc{
    display: grid;
    grid-template-columns: repeat(3, 2fr); 
    align-items: start; 
    gap: 30px;
    margin: 0px auto;
    width: 100%;
}


/*######## Cards tcc ########*/
.itenTcc{
    display: flex;
    flex-direction:row; 
    justify-content: start;
    background-color: white;
    padding: 20px 30px;
    border: 2px solid var(--cor-primaria);
    max-width: 1200px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    min-height: 220px;
}



.imgFile{
    width: 50px;
    height: 50px;
    stroke: rgb(82, 82, 82);
    margin: 0px 20px 20px 0px;

}

.cardTccInfo{
    display: flex;
    flex-direction: column;
}

.btnTccDect{
    border: none;
    background-color: var(--cor-primaria);
    color: var(--texto-claro);
    border-radius: 10px;
    padding: 10px 20px;
    
    
}
.divBtnSee{
    margin-top: auto
}


