
:root {
  --cor-primaria: #d96f32;
  --cor-fundo: #f4f4f4;
  --texto-escuro: #202020;
}

.login-screen {
    background-color: var(--cor-fundo); /* Cor de fundo suave */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    background-color: white; 
    padding: 40px;
    border-radius: 5px; 
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1); 
    width: 450px;
    
}

.divTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.labelTitle{
    color: var(--texto-escuro);
    font-weight: bold;
    text-align: center;
}
.labelSubtitle{
    color: gray;
}

.inputForm{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    margin: 5px 0px;
    outline: none;
    border: none;
    background-color: #f0f0f0;
}
.inputForm:focus{
    border: 1px solid var(--cor-primaria);
}

.labelForgotPass{
    font-size: 13px;
    text-decoration: none;
    color: var(--texto-escuro);
    font-style: italic;
}
.labelForgotPass:hover{
    color: var(--cor-primaria);
}

.imputForm:focus{
    border: 2px solid var(--cor-primaria);
}



.buttonForm {
    background-color: var(--cor-primaria);
    color: white;
    border: none;
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;     
}

.linkRegister{
    font-size: 13px; 
    margin-top: 30px;
}