.divTccNotFound{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.tccNotFound{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.tccResults{
    display: grid;
    grid-template-columns: repeat(2, 2fr); 
    gap: 30px;
    width: 100%;
    
}





.btnSeeMore {
    background-color: var(--cor-primaria);
    border-radius: 5px;
    border: none;
    color: var(--texto-claro);
    padding: 5px 15px;
    width: 100%;
}